{% extends 'base.html' %}

{% block nav_text_documents %}active{% endblock %}

{% block header %}
  <h1>{% block title %}Text Input{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="text_input">Text Input for {{ document_type.value }}</label>
    <textarea class="form-control" rows="5" name="text_input"></textarea>
    
    <div class="form-group pt-2">
      <label for="raw_format">Format:</label>
      <div class="row">
        <div class="col-md-10">
          <select class="form-control" id="raw_format" name="raw_format" onclick="on_raw_format_select()">
            {% if document_type.value == "unlabeled_input" %}
              <option value="simple_text">Simple Text (tokenize)</option>
            {% endif %}
            <option value="conll_space">CoNLL format (space separated columns)</option>
            <option value="conll_tab">CoNLL format (tab separated columns)</option>
          </select>
        </div>
        <div class="col-md-2 text-right">
          <a href="/help#input-formats" target="_blank"><button class="btn btn-outline-secondary" type="button">?</button></a>
        </div>
      </div>
    </div>

      <div class="row" id="label_type_selection" style="display:none">
        <div class="col-md-10">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="label_type" id="inlineRadio1" value="gold" checked>
            <label class="form-check-label" for="inlineRadio1">Gold labels</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="label_type" id="inlineRadio2" value="autom">
            <label class="form-check-label" for="inlineRadio2">Automatically annotated labels</label>
          </div>
        </div>
      </div>

    <input type="submit" class="btn btn-success" value="Input">
   </div>
  </form>  

  <script>
  // Hide the label_type selection if the input is simple text which has no labels
  function on_raw_format_select() {
    selected = $("#raw_format option:selected").val();
    if (selected == "simple_text") {
      $("#label_type_selection").hide();
    } else {
      $("#label_type_selection").show();
    }
    console.log($("#raw_format option:selected").val());
  }
  
  </script>


{% endblock %}
